*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Libre Caslon Text", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

details {
    border: none;
    padding: 0;
}

summary {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* A partir de aquí introduce tus estilos */
:root {
    --accent-bg-color: #f4ede4;
    --title-color: #000;
    --contrast-color: #FFF;
    --text-color: #012e3b;
    --text-light-color: #696969;
    --text-secondary-color: #1264a3;
    --primary-color: #611f69;
    --primary-color-dark: #4a154b;
    --container-width: 95%;
}

body {
    background-image: url(/images/backgro.png);
}

/* ----------------NAV----------------- */
nav {
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 100%;
    justify-content: center;

}

.nav-characters {
    height: 80px;
    width: 70%;
    display: flex;
    border-radius: 6px;
    border: none;
    align-items: center;
    justify-content: center;

}

.container-background-nav {
    position: absolute;
    transform: rotate(90deg);
    z-index: 0;
    flex: 1;
}

.background-nav {
    width: 150px;
}

.container-bts-nav {
    display: flex;
    gap: 15px;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.container-bts-nav button {
    border: 4px solid rgb(110, 124, 97);
    border-radius: 50px;
    background-color: rgb(147, 159, 135);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-bts-nav img {
    width: 68px;

}

/* ----------------header----------------- */
header {
    overflow: hidden;
    height: 100vh;
    width: 100%;

}

.container-img-header {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img-header img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

/* ----------------seccion one ----------------- */

.pag-one {
    width: 100%;
}

.contain-general-pag-one {
    width: 100%;
    display: flex;
    justify-content: end;
}

.contain-img-pag-one {
    flex: 1;
    object-fit: cover;
    z-index: -1;
}

.contain-img-pag-one img {
    width: 100%;
    position: relative;
}

.contain-text-pag-one {
    position: absolute;
    color: #FFF;
    width: 50%;
    padding: 40px 10px 0px 0px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: 14px;
    line-height: 20px;
    z-index: -1;
}

/* ----------------seccion two ----------------- */

.contain-general-pag-two {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.contain-img-pag-two img {
    width: 100%;
}

.contain-title-pag-two {
    order: 1;
}

.contain-img-pag-two {
    order: 2;
}

.contain-text-page-two {
    order: 3;
}

.contain-title-pag-two h1 {
    font-size: 100px;
    color: #043a4ad2;
    line-height: 110px;
}

.contain-text-page-two {
    margin-top: -40px;
    padding: 0px 30px 30px 30px;
    color: #012e3b;
}

/* ----------------seccion three----------------- */ 

.container-general-section-three{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.container-img-section-three{
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.container-img-section-three img{
    width: 100vh;
    margin-left: -300px;
    padding-top: 120px;
}

.container-text-section-three {
    flex: 1;
    position: absolute;
    width: 50%;
    top: 0; 
    right: 0;
    padding: 70px 10px 0px 10px;
    color: var(--text-color);
}
/* .contain-general-pag-two{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

}
.contain-title-pag-two{
    padding-top: 40px;
    order:1
}

.contain-title-pag-two h1{
    font-size: 120px;
    color: #043a4ad2;
    line-height: 110px;
}

.contain-img-pag-two{
    display: flex;
    width: 100%;
    margin-top: -50px;
    order:2;
}

.contain-img-pag-two img{
    width: 100%;
}

.contain-text-page-two{
    margin-top: -40px;
    padding: 0px 30px 30px 30px;
    color: #012e3b ;
    order:3;
} */