*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Libre Caslon Text", "Rakkas", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}




ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* A partir de aquí introduce tus estilos */
:root {

    --contrast-color: #FFF;
    --text-color: #012e3b;
    --background-elements: rgb(98, 115, 81);
    --color-subpages: #ff4b2be9;


}

body {
    background-image: url(/images/backgro.png);
    width: 100%;
}

/* ----------------NAV----------------- */
nav {
    display: flex;
    position: fixed;
    bottom: 10px;
    width: 100%;
    justify-content: center;
z-index: 10;
}

.nav-characters {
    height: 80px;
    width: 70%;
    display: flex;
    border-radius: 6px;
    border: none;
    align-items: center;
    justify-content: center;

}

.container-background-nav {
    position: absolute;
    transform: rotate(90deg);
    z-index: 0;
    flex: 1;
}

.background-nav {
    width: 150px;
}

.container-bts-nav {
    display: flex;
    gap: 15px;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.container-bts-nav button {
    border: 4px solid rgb(98, 115, 81);
    border-radius: 50px;
    background: radial-gradient(circle, rgb(147, 159, 135) 0%, rgb(106, 121, 92) 100%);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    animation: giroAleatorio 6s infinite ease-in-out;

}

.btn-second {
    animation: giroAleatorioinverso 6s infinite ease-in-out !important;
}

@keyframes giroAleatorio {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes giroAleatorioinverso {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.container-bts-nav img {
    width: 68px;

}

/* ----------------header----------------- */
header {
    overflow: hidden;
    height: 100vh;
    width: 100%;

}

.container-img-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img-header img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

/* ----------------seccion one ----------------- */

.pag-one {
    width: 100%;
}

.contain-general-pag-one {
    width: 100%;
    display: flex;
    justify-content: end;
}

.contain-img-pag-one {
    flex: 1;
    object-fit: cover;
    z-index: -1;
}

.contain-img-pag-one img {
    width: 100%;
    position: relative;
}

.contain-text-pag-one {
    position: absolute;
    color: #FFF;
    width: 50%;
    padding: 40px 10px 0px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.752);
    font-size: 14px;
    line-height: 20px;
    z-index: -1;
}

/* ----------------seccion two ----------------- */

.contain-general-pag-two {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.contain-img-pag-two img {
    width: 100%;
}

.contain-title-pag-two {
    order: 1;
}

.contain-img-pag-two {
    order: 2;
}

.contain-text-page-two {
    order: 3;
}

.contain-title-pag-two h1 {
    font-size: 100px;
    color: #043a4ad2;
    line-height: 110px;
}

.contain-text-page-two {
    margin-top: -40px;
    padding: 0px 30px 30px 30px;
    color: #012e3b;
}

/* ----------------seccion three----------------- */

.container-general-section-three {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.container-img-section-three {
    flex: 1;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.container-img-section-three img {
    width: 100vh;
    margin-left: -300px;
    padding-top: 120px;
}

.container-text-section-three {
    flex: 1;
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    padding: 70px 10px 0px 10px;
    color: var(--text-color);
}

/* ----------------seccion four----------------- */

.container-general-section-four {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: -1;
}

.container-img-section-four {
    flex: 1;
    overflow: hidden;
}

.container-img-section-four img {
    width: 100%;
}

.container-text-section-four {
    flex: 1;
    text-align: center;
    padding: 40px;
    color: var(--text-color);
}

/* ----------------seccion five----------------- */

.pag-five {
    height: 80vh;
    display: flex;
}

.container-general-section-five {
    display: flex;
    flex-direction: column;
}

.container-img-section-five {
    width: 100%;
    flex: 1;
}

.container-img-section-five img {
    width: 100%;
}

.container-text-section-five {
    text-align: center;
    padding: 20px;
    color: var(--text-color);
    flex: 1;
}

/* ------------------------------- SUB-PAGES ---------------------------- */
.body-subpages{
    width: 100%;
    margin: 0;
}
/* ---------------- header ------------------- */

.title {
    font-family: "Rakkas";
    color: #ff4b2be9;
    transform: rotateX(20deg) rotateY(-30deg);
    width: 100%;
    font-size: 120px;
    overflow: hidden;
    
}

.contain-tittle-character {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 30%;
    position: relative;
    text-align: center;
}

/* ---------------- section img ------------------- */
.contain-img-character-subpages {
    margin-top: -100px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 5;
}

.img-character-subpages {
    width: 100%;
    z-index: 5;
}

/* ---------------- section skills ------------------- */

.contain-general-skills {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    gap: 18px;
    color: var(--background-elements);
}

.skills-left {
    flex: 1;
}

.skills-right {
    flex: 1;
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.progress-bar {
    height: 20px;
    background-color: var(--background-elements);
    border-radius: 10px;
}

.progress {
    height: 100%;
    background-color: #31c335;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(4, 239, 12, 0.4); 
}

/* ---------------- article-description ------------------- */
article {
    width: 100%;
}

.contain-description-character {
    padding:50px;
    color: var(--text-color);
    font-size: 18px;
    text-align: center;
}

/* ---------------- footer ------------------- */

footer {
    width: 100%;
    background: linear-gradient(to bottom, #8134f500 0%,#4c238287 33%,#4d05a6 100%);
    margin: 0px;
    padding: 0px;
}

.contain-general-footer {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.contain-title-lottery {
    text-align: center;
    font-size: 20px;
    background-color: rgb(255, 209, 2);
    border-radius: 20px 20px 0px 0px;
}

.title-lottery {
    font-size: 40px;
    color: var(--text-color) ;
    font-family: "Rakkas";
}

.contain-up {
    display: flex;
    flex-direction: column;
    border: 4px solid var(--text-color);
    border-radius: 24px;
    background: linear-gradient(to bottom, #9bd73b ,78%,#4db125 );
    animation: mover-arriba-abajo 3s ease-in-out infinite;
}
    @keyframes mover-arriba-abajo {
        0%, 100% {
            transform: translateY(0); /* Posición inicial y final */
        }
        50% {
            transform: translateY(-5px); /* Mueve hacia arriba */
        }
}

.contain-gif-text-footer {
    display: flex;
    width: 100%;
}

.contain-text-footer {
    flex: 2;
    display: flex;
    color: var(--text-color);
    padding: 10px 10px ;
    font-size: 18px;
    align-items: center;
}

.contain-img-gift {
    flex: 1;
}

.img-gift-footer {
    margin-top: -10px;
    width: 100%;
    animation: rebote 2s infinite;
}
    @keyframes rebote {
        0%, 100% {
            transform: translateY(0);
            /* Posición inicial */
        }
    
        50% {
            transform: translateY(-30px) rotate(-5deg);
            /* Rebote hacia arriba con rotación inicial */
        }
    
        55% {
            transform: translateY(-30px) rotate(5deg);
            /* Movimiento de vibración hacia el otro lado */
        }
    
        60% {
            transform: translateY(-30px) rotate(-3deg);
            /* Vibración más ligera */
        }
    
        65% {
            transform: translateY(-30px) rotate(3deg);
            /* Vibración más ligera */
        }
    
        70% {
            transform: translateY(-30px) rotate(0);
            /* Regreso al centro */
        }
    
}
/* ---------------- footer-form ------------------- */
.contain-form {
    
    display: flex;
    width: 100%;
    padding-top: 30px;
    height: 350px;
}

.contain-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    align-items: center;
}

.contain-form input {
    padding: 10px ;
    border: none;
    border-radius: 4px;
    width: 70%;
    text-align: left;
    
}

.contain-form input::placeholder {
    color: #4caf50;
}

.contain-btn-send-form{
    padding-top: 20px;
}

.btn-send-form{
    background-color:transparent;
    border: 2px solid  rgb(255, 209, 2);
    border-radius: 4px;
    color: rgb(255, 209, 2);
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
}