/* Media query para dispositivos tablet (mayores a 480px y hasta 1023px) */
@media (min-width: 481px) {
nav{
    position: fixed; 
    top: 0; 
    right: 10px; 
    height: 100vh; 
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-characters{
    height: 90%;
}

.container-bts-nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px ;
    align-items: center;
}

.container-bts-nav button{
    width: 57px;
    height: 57px;
    
}

}

/* Media query para dispositivos de escritorio (mayores a 1024px y hasta 1439px) */
@media (min-width: 1024px) {

}

/* Media query para dispositivos de escritorio XXL (mayores a 1440px) */
@media (min-width: 1440px) {

}

